{%extends 'base.html'%}
{%load static%}
{%block content%}

    <div class="row">
      <div class="col-md-3">Jonathan Jiménez<br>Gerente de Ventas<br><img src="{%static 'img/w2.jpg'%}" height="20px">7711745462<br> 
      <br>Punto de Venta<br>771-211-88-90<br>
      <br>Centro de Negocios<br>771-713-37-50<br><br>contacto@sikacenterpachuca.com<br><br>Camerino Mendoza N.404 Col. Morelos Pachuca, Hgo.
      </div>
      <div class="col-md-9">
      	<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14984.799214537254!2d-98.7485829!3d20.1257103!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc80b1f2676c3a7bc!2sSika+Center+Pachuca!5e0!3m2!1ses!2smx!4v1539021879991" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>

{%endblock content%}

