{%extends 'base.html'%}

{%load static%}

{%block content%}

    <div class="row">
      <div class="col-sm-12" style="background-color:yellow;">Somos una empresa consolidada en el 2017 con la encomienda de adquirir mercancias para poder comercializarlas en el rubro de construcción en general, siendo asi que comenzamos actividades en el 2004 con la apertura de punto de venta de impermeabilizantes marca texa y venta de pinturas marca ipesa;  por cambios y fusiones hoy somos el primer Sika Center en el Estado de Hidalgo; asi mismo nos hemos consolidado en ventas de productos e instalaciones, tales como: acabados. impermeabilizantes. selladores. anclajes. adhesivos, entre otros.<br>ser lider en la región centro del país en la comercialización de productos de la marca sika mexicana s.a. de c.v.,  así como ser lider en la aplicaciones de impermeabilizantes.<br>Honestidad Respeto Lealtad Comunicacion Trabajo en Equipo</div>
    </div>
    
{%endblock content%}